[submodule "shared-lib"]
	path = shared-lib
	url = https://github.com/ryongmi/krgeobuk-shared-lib.git
[submodule "auth-server"]
	path = auth-server
	url = https://github.com/ryongmi/auth-server.git
[submodule "authz-server"]
	path = authz-server
	url = https://github.com/ryongmi/authz-server.git
[submodule "portal-server"]
	path = portal-server
	url = https://github.com/ryongmi/portal-server.git
[submodule "portal-client"]
	path = portal-client
	url = https://github.com/ryongmi/portal-client.git
[submodule "my-pick-client"]
	path = my-pick-client
	url = https://github.com/ryongmi/my-pick-client.git
[submodule "my-pick-server"]
	path = my-pick-server
	url = https://github.com/ryongmi/my-pick-server.git
